header{
    display: flex;
}
.logo{
    width: 30%;
}
.logo img{
    width: 60%;
    margin-left: 100px;
}

.tencuahang{

    margin-right: 30px;
    width: 30%;
}
.cuacamau{
    color: red;
    font-size: 40px;

}
.gt{
    font-size: 30px;
}
.dienthoai{
    width: 5%;

}
.dienthoai img{
    width: 90%;
    margin-top: 53px;
}
.lienlac{
    margin-left: 20px;
    width: 20%;
    margin-top: 30px;
}
.hotline{
    color: red;
}
.giohang{
    width: 20%;
}
.giohang img{
    margin-left: 30px;
    margin-top: 60px;
    width: 20%;
}
nav{

    display: flex;
    line-height: 25px;
    background-color: dimgrey ;
}

.h-menu{
    margin-left: 50px;
}
.content img{
    width: 100%;
}

.menu>ul>li{
    display: inline-block;
    position: relative;
}
.menu>ul>li>a{
    display: block;
}

.menu>ul>li>a{
    text-decoration: none;
    margin-left: 0px;
    font-size: 30px;
    color: white;
    padding: 0 10px;
}
.menu>ul>li>a:hover{
    color: red;
}
footer{
    background-color: aquamarine;
    display: flex;
    width: 100%;
}
.ft-1{
    width: 50%;
    text-align: center;
    }
.ft-2{
    width: 50%;
    text-align: center;
}
.ft-11{
    text-align: none;
}
.logo-ft{
    width: 30%;
    display: inline-block;
    margin-top: -10px;
}
.logo-ft img{
    width: 19%;
}
img.logo1{
    width: 22%;
    margin: -3px;
}
img.logo2{
    width: 20%;
    margin: 4px 0;

}
img.logo3{
    margin: 0 3px;
    width: 18%;
}
img.logo4{
 width: 17%;
 margin: 2px 0;
}
.contentsp{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    color: red;
}
.menu-index{
    width: auto;
    margin: 50px 50px;
    display: flex;
}
.column{
    margin: 0 33px ;
}

.thu >img{
    width: 400px;
    height: 400px;
    border-radius: 5px;
}
.thu .name{
   
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px ;
}
.thu .price{
    text-align: center;
    color: red;
    font-size: larger;
  font-weight: bold;
   
}